[submodule "Pinicola.FSharp"]
	path = Pinicola.FSharp
	url = https://github.com/vincentremond/Pinicola.FSharp
	branch = main
[submodule "Giraffe.ViewEngine.Svg"]
	path = Giraffe.ViewEngine.Svg
	url = https://github.com/vincentremond/Giraffe.ViewEngine.Svg
	branch = main
